
/* css do cabeçalho, abaixo */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: relative;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.active {
    background-color: #814144;
}
li img{
    width: 170px;
    height: auto;
    right: 30px;
    position: absolute;
}
body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 20px;
}





/* css do produtos abas li e afins, abaixo */
main {
    max-width: 800px;
    margin: 0 auto;
}

section {
    border: 1px solid #928d8d;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.856);
}

h2 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}
footer {
    bottom: 0;
    text-align: center;
    padding: 20px;
    width: 100%;
}
.hall {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.vetor {
    max-width: 130px;
    height:auto;
    margin: auto;
    display: block;
}
.apresentacao {
    padding-top: 140px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 60%;
}




/* css do produtos abas li e afins imagens, abaixo */
.iten {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}
.iten p {
    color: rgb(233, 233, 233);   
    padding: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.iten img {
    position: absolute;
    max-width: 140px;
    height: auto;
    left: 600px;
    top: 11px;
}
.iten img.cha {
    left: 612px;
    top: 25px;
}
.tela {
    background-image: url(imagem/fundo\ cafézes.jpg);
}




/* css do radapé*/
.rodape {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  .coluna1 {
    flex: 1 1 8px;
    margin-right: 100px;
  }
  .coluna2 {
    flex: 1 1 0px;
    margin-right: 50px;
  }
  .coluna3 {
    flex: 1 1 90;
    margin-right: 50px;
  }
  p {
    margin-bottom: 10px;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    margin-bottom: 5px;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  i {
    margin-right: 5px;
  }
  .fa {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
    .coluna1, .coluna2, .coluna3 {
      flex: 1 1 100%;
      margin-right: 0;
    }
  }
  